.mesa3D {
    width: 1200px;
    height: 400px;

    background-color: rgb(56, 56, 56);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;

    text-align: center;

    perspective: 1500px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.face {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    letter-spacing: 12px;
    word-spacing: 2;

    border: 1px solid rgb(85, 85, 85);
}