.scene {
    width: 300px;
    height: 300px;
    margin: 100px auto;

    background-color: #eee;
    perspective: 900px;
}

.cube-2d {
    width: 200px;
    height: 200px;
    position: relative;

    background-color: red;
    transform-style: preserve-3d;
    transform: rotateX(250deg) rotateY(40deg);
    transition: transform 0.8s ease;
}

.face {
    color: white;
    font-weight: bold;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
}

/* Cada face com cor */

.front {
    background-color: red;
    transform: translateZ(100px);
}

.back {
    background-color: blue;
    transform: rotateY(180deg) translateZ(100px);
}


.right {
    background-color: green;
    transform: rotateY(90deg) translateZ(100px);
}


.left {
    background-color: orange;
    transform: rotateY(-90deg) translateZ(100px);
}


.top {
    background-color: purple;
    transform: rotateX(90deg) translateZ(100px);
}


.bottom {
    background-color: pink;
    transform: rotateX(-90deg) translateZ(100px);
}