.mesa2D {
    max-width: 800px;
    min-width: 400px;
    height: 400px;
    background-color: rgb(49, 49, 49);

    border: 1px solid rgba(185, 185, 185, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px 0;
    position: relative;

    gap: 20px;

    perspective: 800px;

    padding: 10px;

    margin: 0 10px;
}

.mesa2D>p {
    color: rgb(255, 122, 122);

    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.childs2d {
    transform-style: preserve-3d;

    display: flex;
    gap: 50px;

    flex-wrap: wrap;
}

.quadrado {
    max-width: 250px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;

    color: rgb(177, 177, 177);

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.eixoX {
    background-color: rgb(255, 243, 80);
    animation: EixoX 2s ease infinite;
}

@keyframes EixoX {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

.eixoZ {
    background-color: rgb(166, 255, 83);
    animation: EixoZ 4s ease-in infinite;
}

@keyframes EixoZ {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.eixoY {
    background-color: rgb(83, 255, 241);
    animation: EixoY 6s ease-out infinite;
}

@keyframes EixoY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.rollsColors {
    animation: AnimationRollsColors 5s ease infinite;
}

@keyframes AnimationRollsColors {
    0% {
        background: rgb(252, 252, 252);
    }

    10% {
        background: red;
    }

    20% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    60% {
        background: green;
    }

    80% {
        background: orange;
    }

    90% {
        background: violet;
    }

    100% {
        background: rgb(216, 216, 216);
    }
}