.table3D {
    width: 500px;
    height: 500px;

    background: rgb(170, 170, 170);
    perspective: 900px;

}

.pyramid3D {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;

    background: rgba(218, 165, 32, 0.014);

    animation: animationTriangulo 5s linear infinite;
}

@keyframes animationTriangulo {

    0% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px)
    }

    50% {
        transform: rotateY(180deg) rotateX(0deg) translateY(100px)
    }

    100% {
        transform: rotateY(360deg) rotateX(0deg) translateY(0px)
    }
}

.pyramid3D .confgFace {
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pyramid3D .front {
    background: rgb(89, 216, 255);
    transform: translateZ(75px) rotateX(30deg);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 1px solid transparent;
    transform-origin: bottom top;
}

.pyramid3D .back {
    background: rgb(89, 255, 89);
    transform: rotateY(180deg) translateZ(75px) rotateX(30deg);

    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 1px solid transparent;
    color: black;
    transform-origin: bottom top;

}


.pyramid3D .left {
    background: rgb(252, 255, 89);
    color: black;
    transform: rotateY(-90deg) translateZ(75px) rotateX(30deg);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 1px solid transparent;
    transform-origin: bottom top;
}


.pyramid3D .right {
    background: rgb(255, 89, 89);
    transform: rotateY(90deg) translateZ(75px) rotateX(30deg);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 1px solid transparent;
    transform-origin: bottom top;
}

.pyramid3D .bottom {
    background: rgb(227, 89, 255);
    transform: rotateX(-90deg) translateZ(130px);
    transform-origin: bottom top;
}